In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [2]:
df = pd.DataFrame()
with open('business.json') as f:
    business = pd.DataFrame(list(map(lambda x:json.loads(x), f.readlines())))
print(business.shape)
business.head()

(192609, 14)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [6]:
business = business[['business_id','review_count','stars','attributes','categories']]

In [7]:
business.head()

,business_id,review_count,stars,attributes,categories
0,1SWheh84yJXfytovILXOAQ,5,3.0,{'GoodForKids': 'False'},"Golf, Active Life"
1,QXAEGFB4oINsVuTFxEYKFQ,128,2.5,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported..."
2,gnKjwL_1w79qoiV3IC_xQQ,170,4.0,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","Sushi Bars, Restaurants, Japanese"
3,xvX2CttrVhyG2z1dFg_0xw,3,5.0,None,"Insurance, Financial Services"
4,HhyxOkGAM07SRYtlQ4wMFQ,4,4.0,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi..."

In [3]:
with open('review.json') as f:
    review = pd.DataFrame(list(map(lambda x:json.loads(x), f.readlines())))
print(review.shape)
review.head()

(6685900, 9)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5.0,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0,11a8sVPMUFtaC7_ABRkmtw,1.0,Today was my second out of three sessions I ha...,7,ssoyf2_x0EQMed6fgHeMyQ

In [10]:
review.drop(['date','text','review_id'],inplace=True,axis=1)
review.head()

              business_id  cool  funny  stars  useful                 user_id
0  ujmEBvifdJM6h6RLv4wQIg     0      1    1.0       6  hG7b0MtEbXx5QzbzE6C_VA
1  NZnhc2sEQy3RmzKTZnqtwQ     0      0    5.0       0  yXQM5uF2jS6es16SJzNHfg
2  WTqjgwHlXbSFevF32_DJVw     0      0    5.0       3  n6-Gk65cPZL6Uz8qRm3NYw
3  ikCg8xy5JIg_NGPx-MSIDA     0      0    5.0       0  dacAIZ6fTM6mqwW5uxkskg
4  b1b1eb3uo-w561D0ZfCEiQ     0      0    1.0       7  ssoyf2_x0EQMed6fgHeMyQ

In [11]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6685900 entries, 0 to 6685899
Data columns (total 6 columns):
business_id    object
cool           int64
funny          int64
stars          float64
useful         int64
user_id        object
dtypes: float64(1), int64(3), object(2)
memory usage: 306.1+ MB

In [12]:
from sklearn.externals import joblib
joblib.dump(business,'business_dump')

['business_dump']

In [13]:
joblib.dump(review,'review_dump')

['review_dump']

In [14]:
load = joblib.load('business_dump')